---
import AboutHeroImage from '../assets/least-bad-photo-of-me-i-could-find.jpg';
import Layout from '../layouts/Page.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('2026-06-23')}
	heroImage={AboutHeroImage}
>
	<h2>Hello!</h2>
	<p style="font-size: x-large">I'm Promitheas Nikou, electrical engineering student, long time programmer, and math
		and physics enthusiast!</p>
	<p>You may know me as your colleague in the ETH, as your TA from class, or you may have seen my work on GitHub.
		In any case it is a pleasure to make your acquaintance!</p>

	<p>
		I'm a student from <a href="https://www.google.com/maps/place/Thessaloniki,+Greece/">Thessaloniki,
		Greece</a> and in September of 2025 I proudly enrolled in the ETH D-ITET
		to study electrical engineering! For more than half a decade I have been planning to study engineering after
		high school and am now more than honored to be able to continue my academic journey in such an amazing university in such
		a beautiful country!
	</p>

	<p>
		I'm very passionate about mathematics and the natural sciences, and am always excited to discover new concepts
		and new ideas. I intend to regularly post on my blog here on this website about fascinating physics and maths
		topics I encounter, I hope you find them interesting! I would also love to hear anything interesting you would
		like to share with me, so feel free to e-mail me about any academic or non-academic topics you'd like to
		discuss.
	</p>

	<p>
		I also will be a TA for NuS I in winter 2026, and would once again urge you to contact me for any issues
		regarding my class, my material, my slides, or any other issues you have with the subject, I'm here to help
		as much as I can!
	</p>

	<p>
		If you would like to find out more about me, here are a few more interesting things you could check out:
	</p>

</Layout>
