---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>WELCOME!👋</h1>
			<h3>I'm excited to present my brand new website 🎉</h3>
			<p>The home page is still under construction 🏗️ so in the meantime you can check my:</p>
			<ul>
				<li><a href="/blog" style="font-weight: bold">Blog</a></li>
				<li><a href="/about" style="font-weight: bold">About Me</a></li>
				<li><a href="/experience" style="font-weight: bold">Experience</a></li>
			</ul>
		</main>
		<Footer />
	</body>
</html>
